.login {
    background-color: white;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.login__container {
    width:18.75rem;
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    border: 0.0625rem solid lightgray;
}
.login__container > h1 {
    font-weight: 500;
    margin-bottom: 1.25rem;
}
.login__container > form > h5 {
    margin-bottom: 0.9375rem;
}
.login__container > form > input {
    margin-bottom: 0.625rem;
    height: 1.875rem;
    background-color: white;
    width: 98%;
}
.login__container > p {
    margin-top: 0.9375rem;
    font-size: 0.75rem;
}
.login__logo {
    width: 6.25rem;
    object-fit: contain;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
.login__subtext {
    padding-top:0.9375rem;
    padding-bottom:0.625rem;
    color: #767676;
}
.login__signInButton {
    background: #f0c14b;
    border-radius: 0.125rem;
    width: 100%;
    height: 1.875rem;
    border: 0.0625rem solid;
    margin-top: 0.625rem;
    border-color: #a88734 #9c7e31 #846a29;
}
.login__registerButton {
    border-radius: 0.125rem;
    width: 100%;
    height: 1.875rem;
    border: 0.0625rem solid;
    margin-top: 0.625rem;
    border-color: darkgray;
}